<mtapp:setting
    id="sortentries_active"
    show_label="0"
    label="<__trans phrase="sortentries_active">">
    <ul>
    	<li><input type="checkbox" value="1" name="sortentries_active" id="sortentries_active"<tmpl_if name=sortentries_active> checked="checked"</tmpl_if> /> <__trans phrase="Enable SortEntries plugin"></li>
    </ul>
</mtapp:setting>

<mtapp:setting
    id="sortcatfld_active"
    show_label="0"
    label="<__trans phrase="sortcatfld_active">">
    <ul>
    	<li><input type="checkbox" value="1" name="sortcatfld_active" id="sortcatfld_active"<tmpl_if name=sortcatfld_active> checked="checked"</tmpl_if> /> <__trans phrase="Enable SortCatFld plugin"></li>
    </ul>
</mtapp:setting>
